{% extends "base.html" %}

{% block content %}
{% if current_user.is_authenticated %}
<h1>Bem vindo, {{ current_user.username }}!</h1>
{% endif %}
{% for post in posts %}
<div>
  <p>{{ post.author.username }} diz: <b>{{ post.body }}</b></p>
</div>
{% endfor %}
<form method="post" action="" novalidate>
  {{ form.csrf_token }}
  <div class="input-group mb-3">
    {% if not form.content.errors %}
    {{ form.content(cols=32, rows=4, class="form-control")}}
    {% else %}
    {{ form.content(cols=32, rows=4, class="form-control is-invalid")}}
    {% endif %}
    <button class="btn btn-outline-primary" type="submit" id="button-addon2"><i
        class="fa-regular fa-paper-plane px-1"></i></button>
    {% if form.content.errors %}
    <div class="invalid-feedback">
      {{ form.content.errors | join(", ") }}
    </div>
    {% endif %}
  </div>
</form>
{% endblock %}
