{% extends "base.html" %}

{% block content %}
<div class="container">
  <h1>Entrar</h1>
  <p>Não tem uma conta? <a href="{{ url_for('auth_bp.register') }}">Cadastre-se</a></p>
  <form action="" method="post" novalidate>
    {{ form.csrf_token }}
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    {% for errors in form.errors.values() %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{ errors | join(", ") }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
    <div class="mb-3">
      {{ form.email.label(class="form-label") }}
      {{ form.email(class="form-control") }}
    </div>
    <div class="mb-3">
      {{ form.password.label(class="form-label") }}
      {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3 form-check me-auto">
      {{ form.remember_me(class="form-check-input") }}
      {{ form.remember_me.label(class="form-check-label")}}
    </div>
    <input type="submit" class="btn btn-primary mb-1">
  </form>
  <a style="color: gray" href="{{ url_for('auth_bp.forgot_password') }}">Esqueceu a senha?</a>
</div>
{% endblock %}
