{% extends "base.html" %}

{% block content %}
{% for message in get_flashed_messages(with_categories=true) %}
<div class="alert alert-sucess alert-dismissible fade show" role="alert">
  {{ message }}
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="close"></button>
</div>
{% endfor %}
<div class="container text-center">
  <div class="row">
    <div class="col-4">
      <div class="card">
        <img src="{{ user.avatar(size=480)}}" class="card-img-top" alt="Foto de Perfil">
        <div class="card-body">
          <h2 class="card-title">{{ user.username }}</h5>
            <p class="card-text">
            {% if user.about_me %}
            {{ user.about_me }}
            {% else %}
            Autor de {{ posts|length }} postagen(s) no blog
            {% endif %}
            </p>
            {% if current_user == user %}
            <div class="d-grid gap-2 col-6 mx-auto">
              <a href="{{ url_for('edit') }}" class="btn btn-outline-secondary">Editar</button>
              <a href="{{ url_for('logout') }}" class="btn btn-outline-danger">Sair</a>
            </div>
            {% endif %}

        </div>
      </div>
    </div>
    <div class="col">
      <h2>Postagens</h2>
      <div class="accordion pt-3" id="posts">
        {% for post in posts %}
        <div class="accordion-item">
          <h2 class="accordion-header" id="heading{{ post.id }}">
            <button class="accordion-button" type="button" data-bs-toggle="collapse"
              data-bs-target="#collapse{{ post.id }}" aria-expanded="true" aria-controls="collapse{{ post.id }}">
              Postagem #{{ post.id }}
            </button>
          </h2>
          <div id="collapse{{ post.id }}" class="accordion-collapse collapse show" aria-labelledby="heading1"
            data-bs-parent="#posts">
            <div class="accordion-body">
              {{ post.body }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
